.list-container li {
    /*list-style: none;*/
    display: inline-block;
    margin: 3px;
    border: 4px black solid;
}

.list-container li.selected {
    border: 4px blue solid;
}



.list-container detail {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 10;

    display:flex;
    justify-content:center;
    align-items:center;
}